* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-container {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
}
.project {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.project a {
  text-decoration: none;
  font-size: 30px;
}

.project-img {
  position: absolute;
  overflow: hidden;
  width: 25%;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: ease-out 0.5s;
}

.project-img:hover {
  opacity: 1;
  transition: ease-in 0.5s;
}

.project-img-1 {
  background: url(../../images/project-1.jpeg);
}
.project-img-2 {
  background: url(../../images/project-2.jpeg);
}
.project-img-3 {
  background: url(../../images/project-3.jpeg);
}
.project-img-4 {
  background: url(../../images/project-4.jpeg);
}

.project-text {
  position: relative;
  z-index: 200;
}
